<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.1.2/es5/tex-mml-chtml.js">
</script>
<table border="1" style="width:100%; text-align:center;">
    <caption>Table listing the \<span>$$\dot{E}/a^{2}$$</span>, orbital inclination angle, and Roche lobe filling factor (RLFF) values for compact MSP binaries.</caption>
    <thead>
        <tr>
            <th>Pulsar Name</th>
            <th>Eclipse</th>
            <th>\( \dot{E}/a^{2} \) <br> (× 10<sup>35</sup> erg/s \( R_\odot \)<sup>2</sup>)</th>
            <th>Inclination <br> (degrees)</th>
            <th>RLFF</th>
            <th>Mass Function</th>
            <th>References</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>J0023+0923 (BW)</td>
            <td>no</td>
            <td>0.09</td>
            <td>42<sup>+4</sup><sub>-3</sub></td>
            <td>0.36<sup>+0.18</sup><sub>-0.13</sub></td>
            <td>0.000002</td>
            <td><a href="#bak2020timing">bak2020timing</a>, <a href="#Mata_optical_J1544">Mata_optical_J1544</a></td>
        </tr>
        <tr>
            <td>J0024–7204I (BW)</td>
            <td>no</td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.000001</td>
            <td><a href="#Freire200347tuc">Freire200347tuc</a></td>
        </tr>
        <tr>
            <td><strong>J0024–7204J (BW)</strong></td>
            <td>yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.000005</td>
            <td><a href="#J0024_previous_study">J0024_previous_study</a></td>
        </tr>
        <!-- Continue adding rows for each entry as in your table -->
        <tr>
            <td><strong>J0024-7204O (BW)</strong></td>
            <td>yes</td>
            <td>0.39</td>
            <td>&lt; </td>
            <td></td>
            <td>0.000005</td>
            <td><a href="#J0024_previous_study">Sanpa-arsa_phd_thesis</a></td>
        </tr>
        <tr>
                <td>J0024-7204P (BW)</td>
                <td>no</td>
                <td>2.96</td>
                <td></td>
                <td></td>
                <td>0.000003</td>
                <td><a href="#47_Tuc_eclipsing_pulsars">47_Tuc_eclipsing_pulsars</a></td>
            </tr>
            <tr>
                <td><strong>J0024-7204R (BW)</strong></td>
                <td>yes</td>
                <td>2.22</td>
                <td></td>
                <td></td>
                <td>0.000009</td>
                <td><a href="#J0024_previous_study">J0024_previous_study</a></td>
            </tr>
            <tr>
                <td>J0024-7204U (WD)</td>
                <td>no</td>
                <td>0.05</td>
                <td></td>
                <td></td>
                <td>0.000853</td>
                <td><a href="#47_Tuc_eclipsing_pulsars">47_Tuc_eclipsing_pulsars</a></td>
            </tr>
        <tr>
                <td><strong>J0024-7204V (RB)</strong></td>
                <td>yes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.009744</td>
                <td><a href="#47_Tuc_eclipsing_pulsars">47_Tuc_eclipsing_pulsars</a></td>
            </tr>
            <tr>
                <td><strong>J0024-7204W (RB)</strong></td>
                <td>yes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.000876</td>
                <td><a href="#J0024_previous_study">J0024_previous_study</a></td>
            </tr>
            <tr>
                <td>J0024-7204Y (WD)</td>
                <td>no</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.001178</td>
                <td><a href="#J0024_previous_study">J0024_previous_study</a></td>
            </tr>
           <tr>
                <td><strong>J0024-7204ac (BW)</strong></td>
                <td>yes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.000000</td>
                <td><a href="#J1701-3006G_timing_47_Tuc_ac_ad">J1701-3006G_timing_47_Tuc_ac_ad</a></td>
            </tr>
            <tr>
                <td><strong>J0024-7204ad (RB)</strong></td>
                <td>yes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.003297</td>
                <td><a href="#J1701-3006G_timing_47_Tuc_ac_ad">J1701-3006G_timing_47_Tuc_ac_ad</a></td>
            </tr>
            <tr>
                <td><strong>J0251+2606 (BW)</strong></td>
                <td>yes</td>
                <td>0.06</td>
                <td>32<sup>+2</sup><sub>-1</sub></td>
                <td>0.60<sup>+0.07</sup><sub>-0.06</sub></td>
                <td>0.000007</td>
                <td><a href="#Mata_optical_J1544">Mata_optical_J1544</a></td>
            </tr>
      <tr>
                <td>J0312-0921 (BW)</td>
                <td>-</td>
                <td>0.14</td>
                <td></td>
                <td></td>
                <td>0.000000</td>
                <td><a href="#J0312-0921_black_widow">J0312-0921_black_widow</a></td>
            </tr>
            <tr>
                <td>J0610-2100 (BW)</td>
                <td>no</td>
                <td>0.01</td>
                <td>54 &lt; i &lt; 89</td>
                <td>0.72 &lt; f<sub>RL</sub> &lt; 0.94</td>
                <td>0.000005</td>
                <td><a href="#J0610-2100_non_Eclipse">J0610-2100_non_Eclipse</a></td>
            </tr>
            <tr>
                <td>J0636+5129 (BW)</td>
                <td>no</td>
                <td>0.09</td>
                <td>24 &plusmn; 1</td>
                <td>&gt; 0.95</td>
                <td>0.000000</td>
                <td><a href="#J0636+5129_no_eclipse">J0636+5129_no_eclipse</a></td>
            </tr>
      <tr>
                <td>J0751+1807 (WD)</td>
                <td>no</td>
                <td>0.03</td>
                <td>66<sup>+4</sup><sub>-7</sub></td>
                <td></td>
                <td>0.000967</td>
                <td><a href="#J0751+1807_white_dwarf">J0751+1807_white_dwarf</a></td>
            </tr>
            <tr>
                <td>J0952-0607 (BW)</td>
                <td>no</td>
                <td>0.16</td>
                <td>56<sup>+5</sup><sub>-4</sub></td>
                <td>0.87<sup>+0.02</sup><sub>-0.03</sub></td>
                <td>0.000004</td>
                <td><a href="#J0952-0607_no_Eclipse">J0952-0607_no_Eclipse</a></td>
            </tr>
            <tr>
                <td>J1012+5307 (WD)</td>
                <td>no</td>
                <td>0.003</td>
                <td>50 &plusmn; 2</td>
                <td></td>
                <td>0.000578</td>
                <td><a href="#J1012+5307_WD">J1012+5307_WD</a></td>
            </tr>
         <tr>
                <td><strong>J1023+0038 (RB)</strong></td>
                <td>yes</td>
                <td>0.19</td>
                <td></td>
                <td></td>
                <td>0.001107</td>
                <td><a href="#J1023+0038_eclipse">J1023+0038_eclipse</a></td>
            </tr>
            <tr>
                <td><strong>J1036-4353 (RB)</strong></td>
                <td>yes</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.004707</td>
                <td><a href="#J1036-4353_eclipse_J1526-2744_wd">J1036-4353_eclipse_J1526-2744_wd</a></td>
            </tr>
            <tr>
                <td>J1036-8317</td>
                <td>no</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.001239</td>
                <td><a href="#J1946-5403_J1036-8317_no_eclipse">J1946-5403_J1036-8317_no_eclipse</a></td>
            </tr>
      <tr>
                <td><strong>J1048+2339 (RB)</strong></td>
                <td>yes</td>
                <td>0.02</td>
                <td>&lt; 76</td>
                <td>0.83 ± 0.03</td>
                <td>0.010000</td>
                <td><a href="#J1048+2339_inclination_roche">J1048+2339_inclination_roche</a></td>
            </tr>
            <tr>
                <td><strong>J1124-3653 (BW)</strong></td>
                <td>yes</td>
                <td>0.05</td>
                <td>44</td>
                <td>0.84</td>
                <td>0.000011</td>
                <td><a href="#J1124-3653_roche_inclination">J1124-3653_roche_inclination</a></td>
            </tr>
            <tr>
                <td><strong>J1221-0633 (BW)</strong></td>
                <td>yes</td>
                <td>0.04</td>
                <td></td>
                <td></td>
                <td>0.000001</td>
                <td><a href="#J1221-0633_eclipse">J1221-0633_eclipse</a></td>
            </tr>
      <tr>
                <td><strong>J1227-4853 (RB)</strong></td>
                <td>yes</td>
                <td>0.18</td>
                <td>77</td>
                <td>0.83</td>
                <td>0.003870</td>
                <td><a href="#J1227-4853_roche_lobe">J1227-4853_roche_lobe</a></td>
            </tr>
            <tr>
                <td>J1301+0833 (BW)</td>
                <td>-</td>
                <td>0.15</td>
                <td>52</td>
                <td>0.57</td>
                <td>0.000007</td>
                <td><a href="#J1301+0833_inclination_Roche_lobe">J1301+0833_inclination_Roche_lobe</a></td>
            </tr>
            <tr>
                <td><strong>J1302-3258 (RB)</strong></td>
                <td>yes</td>
                <td>0.002</td>
                <td></td>
                <td></td>
                <td>0.001394</td>
                <td><a href="#J1302-3258_eclipse">J1302-3258_eclipse</a></td>
            </tr>
<tr>
                <td><strong>J1311-3430 (BW)</strong></td>
                <td>yes</td>
                <td>0.8</td>
                <td>60</td>
                <td>0.99</td>
                <td>0.000000</td>
                <td><a href="#J1311-3430_inclination">J1311-3430_inclination</a></td>
            </tr>
            <tr>
                <td><strong>J1317-0157 (BW)</strong></td>
                <td>yes</td>
                <td>0.09</td>
                <td></td>
                <td></td>
                <td>0.000003</td>
                <td><a href="#J1221-0633_eclipse">J1221-0633_eclipse</a></td>
            </tr>
            <tr>
                <td>J1326-4728B</td>
                <td>-</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.000001</td>
                <td><a href="#J1326-4728B_timing">J1326-4728B_timing</a></td>
            </tr>
      <tr>
                <td>J1342+2822A (BW)</td>
                <td>no</td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.000001</td>
                <td><cite>J1342+2822A_no_Eclipse</cite></td>
            </tr>
            <tr>
                <td class="bold">J1431--4715 (BW)</td>
                <td>yes</td>
                <td>0.07</td>
                <td>53-83</td>
                <td>0.64-0.76</td>
                <td>0.000883</td>
                <td><cite>J1431_inclination_roche</cite></td>
            </tr>
            <tr>
                <td>J1446-4701 (BW)</td>
                <td>no</td>
                <td>0.08</td>
                <td></td>
                <td></td>
                <td>0.000004</td>
                <td><cite>J1446-4701_no_eclipse</cite></td>
            </tr>
      <tr>
                <td class="bold">J1513-2550 (BW)</td>
                <td>yes</td>
                <td>0.38</td>
                <td>70</td>
                <td>1</td>
                <td>0.000002</td>
                <td><cite>Sanpa-arsa_phd_thesis</cite></td>
            </tr>
            <tr>
                <td class="bold">J1518+0204C (BW)</td>
                <td>yes</td>
                <td>0.73</td>
                <td></td>
                <td></td>
                <td>0.000027</td>
                <td><cite>J1518+0204C_eclipse</cite></td>
            </tr>
            <tr>
                <td>J1518+0204G (BW)</td>
                <td>no</td>
                <td>0.18</td>
                <td></td>
                <td></td>
                <td>0.000004</td>
                <td><cite>J1518+0204G_no_eclipse</cite></td>
            </tr>
      <tr>
                <td>J1526-2744 (WD)</td>
                <td>no</td>
                <td>0.03</td>
                <td></td>
                <td></td>
                <td>0.000294</td>
                <td><cite>J1036-4353_eclipse_J1526-2744_wd</cite></td>
            </tr>
            <tr>
                <td class="bold">J1544+4937 (BW)</td>
                <td>yes</td>
                <td>0.07</td>
                <td><span class="math">47^{+7}_{-4}</span></td>
                <td><span class="math">&gt;0.96</span></td>
                <td>0.000003</td>
                <td><cite>Mata_optical_J1544</cite></td>
            </tr>
            <tr>
                <td class="bold">J1555-2908 (BW)</td>
                <td>yes</td>
                <td>0.90</td>
                <td><span class="math">&gt; 75</span></td>
                <td>0.98</td>
                <td>0.000068</td>
                <td><cite>J1555_inclination</cite></td>
            </tr>
      <tr>
                <td>J1602--1009</td>
                <td>-</td>
                <td>0.04</td>
                <td></td>
                <td></td>
                <td>0.000003</td>
                <td><cite>J1602-1009_</cite></td>
            </tr>
            <tr>
                <td class="bold">J1622--0315 (RB)</td>
                <td>yes</td>
                <td>0.03</td>
                <td><span class="math">&lt; 83.4</span></td>
                <td></td>
                <td>0.000433</td>
                <td><cite>Sanpa-arsa_phd_thesis</cite></td>
            </tr>
    </tbody>
</table>

<!-- Reference Links (Use with bib items if converted to direct links or static pages) -->
<div id="references">
    <h3>References</h3>
    <ul>
        <li id="bak2020timing">[1] Bak, et al., 2020. Timing...</li>
        <li id="Mata_optical_J1544">[2] Mata, et al., Optical Study of J1544...</li>
        <li id="Freire200347tuc">[3] Freire, et al., 2003. Study of 47 Tuc...</li>
        <!-- Continue listing each reference as needed -->
        <li id="Sanpa-arsa_phd_thesis">[X] Sanpa-arsa, PhD Thesis...</li>
        <li id="gamma_ray_eclipse">[Y] Gamma-ray Eclipse Study...</li>
    </ul>
</div>
