<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table with BibTeX References</title>
</head>
<body>

<table border="1">
    <thead>
        <tr>
            <th>Data</th>
            <th>Description</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data Example 1</td>
            <td>Description of data example 1.</td>
            <td><a href="#ref-Author2024">Author2024</a></td>
        </tr>
        <tr>
            <td>Data Example 2</td>
            <td>Description of data example 2.</td>
            <td><a href="#ref-Smith2021">Smith2021</a></td>
        </tr>
        <!-- Additional rows can be added similarly -->
    </tbody>
</table>

<h2>References</h2>
<ul>
    <li id="ref-Author2024">Author, A. A. (2024). <i>Title of the Article</i>. Journal Name, 12(3), 45-67.</li>
    <li id="ref-Smith2021">Smith, B. B. (2021). <i>Another Article Title</i>. Journal of Interesting Studies, 5(1), 123-130.</li>
    <!-- Additional references go here -->
</ul>

</body>
</html>
